.root {
    background-color: #111
}
.tabs{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.introCardList {
    padding-top:  "100px";
}

.button {
    min-height: '62px';    
}

.img {
        width: '80px';
        height: '60px';
        background-image: url("https://static.wixstatic.com/media/600c78_618e8fc2e4334570aa49d2825fd9de13~mv2_d_2700_1762_s_2.png");
        background-size: '80px';
        background-repeat: 'no-repeat';

}