
.banner{
    position: relative;
    color: #fff;
    margin: -20px;
    height: 700px;
    background: url('https://static.wixstatic.com/media/600c78_efb39744c2a24afcb9f5bebd45e9df3e~mv2_d_2500_1667_s_2.png/v1/fill/w_1920,h_1280,al_t,q_85,usm_0.66_1.00_0.01/600c78_efb39744c2a24afcb9f5bebd45e9df3e~mv2_d_2500_1667_s_2.webp');
    background-repeat: 'no-repeat';
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
.overlay{
    background: rgba(0,0,0,0.6);
    z-index: 2;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    }
.overlay p {
    text-transform: uppercase;
    width: 500px;
    font-size: 45px;

}