.card {
    max-width: 345 !important;
    background: #000 !important;
    /* border: 1px solid #d7d7d7; */
    color: #d7d7d7 !important;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  @media only screen and (max-width: 600px){
    .card{ min-width: 445;
  }
}
  .actions{
    color: #d7d7d7 !important
  }
  .title{
    color: #d7d7d7;
    text-decoration: none;
  }
  .title:hover{
    cursor: pointer;
  }